<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <h1>Mega Store</h1>
        </div>
        <div class="basket" data-animation-target data-animation-offset-x="15" data-animation-offset-y="10">
            <img src="static/basket.png" alt="" >
            <div id="counter">1</div>
        </div>
    </div>
</header>

<div class="container">
    <div class="product">
        <div class="product-image">
            <img src="https://cdn.shopify.com/s/files/1/1785/8085/products/Powder_Coated_Camper_Mug_12oz_-_Gitlab_-_Matte_Black_Fornt_1024x1024.png?v=1530018607"
                 alt="">
        </div>
        <div class="product-description">
            <h2>Gitlab Mug</h2>
            <p>This 12 oz double wall 18/8 stainless steel thermal mug with copper vacuum insulation, is sure to keep you&nbsp;up on the go or at your desk.&nbsp;</p>
            <p>It comes with stainless steel rim, clear push-on lid, swivel closure, and powder coated finish.&nbsp;<span>K</span>eeps beverages hot for up to 12&nbsp;hours&nbsp;or cold for up to 24.</p>
            <p>Instructions: We recommend you hand wash this to keep the logo looking nice.</p>
            <button data-animation-source>Add to cart</button>
            <p>(Click the button)</p>
            <p><a href="https://shop.gitlab.com/collections/frontpage/products/camper-mug">Actual product link</a></p>
        </div>
        <div class="product-technical"></div>
    </div>
    <div class="content" style="margin-top: 30px;">
        <h2>The idea</h2>
        <hr>
        <p>
            As a frontend developer I always look for ways to improve the experience users of the websites I build.
        </p>
        <p>I work a lot with E-commerce and wanted to give the users a more visual, and unique, representation of what happens when they press the "Add to basket" button.</p>
        <p>The project itself is a small prototype and not meant as a final product, its meant to give inspiration to other developers out there as to what you can do with a little imagination</p>
        <h4>Follow me</h4>
        <p>If your interested in seeing more ideas feel free to give me a follow on Twitter <a href="https://twitter.com/martinhobert" target="_blank">@MartinHobert</a></p>
        <h2>Source</h2>
        <hr>
        <p>If you're interested in how its build, take a loot at the source code over at <a href="https://gitlab.com/epenance/basketanimation/">Gitlab (Source)</a></p>

        <h2 style="margin-top: 150px;">More filler content for scroll</h2>
        <hr>
        <p>Don't mind the anything below here, its simply there to make scrollable content and more fancy buttons!</p>
        <p>
            Sed aliquam mi sit amet metus blandit ullamcorper. Etiam in urna dui. Quisque cursus, sem vel posuere dignissim, ex metus sagittis sapien, ac ultricies diam purus sed sem. Donec turpis dolor, efficitur sit amet faucibus eu, malesuada id nisl. Vivamus velit metus, aliquam in accumsan non, pulvinar eu erat. Suspendisse dictum at metus sit amet sagittis. Aenean sit amet commodo risus. Cras pretium diam vel bibendum iaculis. Integer vel aliquam felis, ut vestibulum ipsum. Sed eu orci aliquam, porttitor ligula hendrerit, suscipit justo. Nunc elementum, quam sed pharetra vestibulum, nisl quam posuere erat, vel semper ex dolor vel leo. Nulla vulputate ex non dolor malesuada, id commodo est efficitur.
        </p>
        <p>
            Pellentesque auctor lorem ac feugiat mattis. Nunc sed porta lacus, id ornare leo. Nam ligula purus, pellentesque nec erat vel, gravida condimentum sem. Nulla sed tortor scelerisque, pulvinar leo tempus, posuere eros. Nullam tempus semper pretium. Vestibulum ut purus tempor, auctor elit a, congue enim. Etiam et lectus et velit vehicula scelerisque. Praesent ac dictum est, sit amet imperdiet augue. Ut posuere nulla ex, sed facilisis dui vulputate ac. Phasellus felis nisi, imperdiet non tempus ac, maximus in metus. Donec non interdum erat, a aliquet dui.
        </p>
        <div>
            <button data-animation-source>Add to cart</button>
        </div>
        <p>
            Cras ut eros non dolor viverra egestas. Ut sit amet ultrices lorem, et fringilla metus. Curabitur sed sapien eget est eleifend dictum. Ut finibus enim luctus ultrices malesuada. Aenean auctor lacinia pharetra. Etiam ac metus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vehicula ligula sed suscipit elementum. Ut efficitur eros a bibendum aliquam.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar mauris dignissim blandit mattis. Nulla ligula enim, luctus vel leo vitae, euismod vulputate ligula. Mauris rutrum mi vitae sodales molestie. Vestibulum consectetur interdum tincidunt. Curabitur egestas maximus lectus, ac commodo leo lacinia a. Quisque fermentum hendrerit velit placerat hendrerit. Aliquam lobortis fermentum fringilla. Proin laoreet orci non euismod eleifend. Sed fermentum tellus blandit, bibendum dui sit amet, faucibus felis. Ut a lorem tortor. Nam vel rhoncus sem, et pellentesque orci. Phasellus hendrerit urna at ipsum laoreet dictum. Aliquam ut aliquet nulla.
        </p>
        <p>
            In dictum diam justo, et fermentum libero ornare eu. Phasellus pellentesque sollicitudin tortor. <button data-animation-source>Add to cart</button> Sed feugiat pulvinar mi at ullamcorper. Mauris sed felis non sapien finibus lobortis. Pellentesque lacus sem, egestas at consequat vel, pulvinar quis mi. Fusce odio ex, porttitor at pharetra a, commodo interdum nisl. Praesent sed consectetur ante, at porta orci. Nam eu semper erat, ut porttitor sapien. Fusce a volutpat purus. Fusce iaculis, ipsum sit amet vulputate volutpat, tortor quam vehicula felis, non malesuada lectus libero et ipsum. Cras vestibulum porttitor nisl et ultricies. Ut massa purus, commodo ut metus ac, dictum tempor tortor. Donec fermentum justo eu massa finibus maximus.
        </p>
        <p>
            Sed aliquam mi sit amet metus blandit ullamcorper. Etiam in urna dui. Quisque cursus, sem vel posuere dignissim, ex metus sagittis sapien, ac ultricies diam purus sed sem. Donec turpis dolor, efficitur sit amet faucibus eu, malesuada id nisl. Vivamus velit metus, aliquam in accumsan non, pulvinar eu erat. Suspendisse dictum at metus sit amet sagittis. Aenean sit amet commodo risus. Cras pretium diam vel bibendum iaculis. Integer vel aliquam felis, ut vestibulum ipsum. Sed eu orci aliquam, porttitor ligula hendrerit, suscipit justo. Nunc elementum, quam sed pharetra vestibulum, nisl quam posuere erat, vel semper ex dolor vel leo. Nulla vulputate ex non dolor malesuada, id commodo est efficitur.
        </p>
        <div>
            <button data-animation-source>Add to cart</button>
        </div>
        <p>
            Pellentesque auctor lorem ac feugiat mattis. Nunc sed porta lacus, id ornare leo. Nam ligula purus, pellentesque nec erat vel, gravida condimentum sem. Nulla sed tortor scelerisque, pulvinar leo tempus, posuere eros. Nullam tempus semper pretium. Vestibulum ut purus tempor, auctor elit a, congue enim. Etiam et lectus et velit vehicula scelerisque. Praesent ac dictum est, sit amet imperdiet augue. Ut posuere nulla ex, sed facilisis dui vulputate ac. Phasellus felis nisi, imperdiet non tempus ac, maximus in metus. Donec non interdum erat, a aliquet dui.
        </p>
        <p>
            Cras ut eros non dolor viverra egestas. Ut sit amet ultrices lorem, et fringilla metus. Curabitur sed sapien eget est eleifend dictum. Ut finibus enim luctus ultrices malesuada. Aenean auctor lacinia pharetra. Etiam ac metus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vehicula ligula sed suscipit elementum. Ut efficitur eros a bibendum aliquam.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar mauris dignissim blandit mattis. Nulla ligula enim, luctus vel leo vitae, euismod vulputate ligula. Mauris rutrum mi vitae sodales molestie. Vestibulum consectetur interdum tincidunt. Curabitur egestas maximus lectus, ac commodo leo lacinia a. Quisque fermentum hendrerit velit placerat hendrerit. Aliquam lobortis fermentum fringilla. Proin laoreet orci non euismod eleifend. Sed fermentum tellus blandit, bibendum dui sit amet, faucibus felis. Ut a lorem tortor. Nam vel rhoncus sem, et pellentesque orci. Phasellus hendrerit urna at ipsum laoreet dictum. Aliquam ut aliquet nulla.
        </p>
        <p>
            In dictum diam justo, et fermentum libero ornare eu. Phasellus pellentesque sollicitudin tortor. Sed feugiat pulvinar mi at ullamcorper. Mauris sed felis non sapien finibus lobortis. Pellentesque lacus sem, egestas at consequat vel, pulvinar quis mi. Fusce odio ex, porttitor at pharetra a, commodo interdum nisl. Praesent sed consectetur ante, at porta orci. Nam eu semper erat, ut porttitor sapien. Fusce a volutpat purus. Fusce iaculis, ipsum sit amet vulputate volutpat, tortor quam vehicula felis, non malesuada lectus libero et ipsum. Cras vestibulum porttitor nisl et ultricies. Ut massa purus, commodo ut metus ac, dictum tempor tortor. Donec fermentum justo eu massa finibus maximus.
        </p>
        <p>
            Sed aliquam mi sit amet metus blandit ullamcorper. Etiam in urna dui. Quisque cursus, sem vel posuere dignissim, ex metus sagittis sapien, ac ultricies diam purus sed sem. Donec turpis dolor, efficitur sit amet faucibus eu, malesuada id nisl. Vivamus velit metus, aliquam in accumsan non, pulvinar eu erat. Suspendisse dictum at metus sit amet sagittis. Aenean sit amet commodo risus. Cras pretium diam vel bibendum iaculis. Integer vel aliquam felis, ut vestibulum ipsum. Sed eu orci aliquam, porttitor ligula hendrerit, suscipit justo. Nunc elementum, quam sed pharetra vestibulum, nisl quam posuere erat, vel semper ex dolor vel leo. Nulla vulputate ex non dolor malesuada, id commodo est efficitur.
        </p>
        <div>
            <button data-animation-source>Add to cart</button>
        </div>
        <p>
            Pellentesque auctor lorem ac feugiat mattis. Nunc sed porta lacus, id ornare leo. Nam ligula purus, pellentesque nec erat vel, gravida condimentum sem. Nulla sed tortor scelerisque, pulvinar leo tempus, posuere eros. Nullam tempus semper pretium. Vestibulum ut purus tempor, auctor elit a, congue enim. Etiam et lectus et velit vehicula scelerisque. Praesent ac dictum est, sit amet imperdiet augue. Ut posuere nulla ex, sed facilisis dui vulputate ac. Phasellus felis nisi, imperdiet non tempus ac, maximus in metus. Donec non interdum erat, a aliquet dui.
        </p>
        <p>
            Cras ut eros non dolor viverra egestas. Ut sit amet ultrices lorem, et fringilla metus. Curabitur sed sapien eget est eleifend dictum. Ut finibus enim luctus ultrices malesuada. Aenean auctor lacinia pharetra. Etiam ac metus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vehicula ligula sed suscipit elementum. Ut efficitur eros a bibendum aliquam.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar mauris dignissim blandit mattis. Nulla ligula enim, luctus vel leo vitae, euismod vulputate ligula. Mauris rutrum mi vitae sodales molestie. Vestibulum consectetur interdum tincidunt. Curabitur egestas maximus lectus, ac commodo leo lacinia a. Quisque fermentum hendrerit velit placerat hendrerit. Aliquam lobortis fermentum fringilla. Proin laoreet orci non euismod eleifend. Sed fermentum tellus blandit, bibendum dui sit amet, faucibus felis. Ut a lorem tortor. Nam vel rhoncus sem, et pellentesque orci. Phasellus hendrerit urna at ipsum laoreet dictum. Aliquam ut aliquet nulla.
        </p>
        <p>
            In dictum diam justo, et fermentum libero ornare eu. Phasellus pellentesque sollicitudin tortor. Sed feugiat pulvinar mi at ullamcorper. Mauris sed felis non sapien finibus lobortis. Pellentesque lacus sem, egestas at consequat vel, pulvinar quis mi. Fusce odio ex, porttitor at pharetra a, commodo interdum nisl. Praesent sed consectetur ante, at porta orci. Nam eu semper erat, ut porttitor sapien. Fusce a volutpat purus. Fusce iaculis, ipsum sit amet vulputate volutpat, tortor quam vehicula felis, non malesuada lectus libero et ipsum. Cras vestibulum porttitor nisl et ultricies. Ut massa purus, commodo ut metus ac, dictum tempor tortor. Donec fermentum justo eu massa finibus maximus.
        </p>
        <p>
            Sed aliquam mi sit amet metus blandit ullamcorper. Etiam in urna dui. Quisque cursus, sem vel posuere dignissim, ex metus sagittis sapien, ac ultricies diam purus sed sem. Donec turpis dolor, efficitur sit amet faucibus eu, malesuada id nisl. Vivamus velit metus, aliquam in accumsan non, pulvinar eu erat. Suspendisse dictum at metus sit amet sagittis. Aenean sit amet commodo risus. Cras pretium diam vel bibendum iaculis. Integer vel aliquam felis, ut vestibulum ipsum. Sed eu orci aliquam, porttitor ligula hendrerit, suscipit justo. Nunc elementum, quam sed pharetra vestibulum, nisl quam posuere erat, vel semper ex dolor vel leo. Nulla vulputate ex non dolor malesuada, id commodo est efficitur.
        </p>
        <p>
            Pellentesque auctor lorem ac feugiat mattis. Nunc sed porta lacus, id ornare leo. Nam ligula purus, pellentesque nec erat vel, gravida condimentum sem. Nulla sed tortor scelerisque, pulvinar leo tempus, posuere eros. Nullam tempus semper pretium. Vestibulum ut purus tempor, auctor elit a, congue enim. Etiam et lectus et velit vehicula scelerisque. Praesent ac dictum est, sit amet imperdiet augue. Ut posuere nulla ex, sed facilisis dui vulputate ac. Phasellus felis nisi, imperdiet non tempus ac, maximus in metus. Donec non interdum erat, a aliquet dui.
        </p>
        <p>
            Cras ut eros non dolor viverra egestas. Ut sit amet ultrices lorem, et fringilla metus. Curabitur sed sapien eget est eleifend dictum. Ut finibus enim luctus ultrices malesuada. Aenean auctor lacinia pharetra. Etiam ac metus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vehicula ligula sed suscipit elementum. Ut efficitur eros a bibendum aliquam.
        </p>
    </div>
</div>
</body>
</html>
